.middle
  .contact-title
    Contacto
    %span{:style => "color:red;"}
      = notice
  .contact
    - if @contact_page
      .left
        .address 
          = address
        %br
        .map  
          = map
      .right
        = form_tag email_path do
          .fields
            .field
              = text_field_tag :name, nil, :placeholder=> "Nombre"
            .field
              = text_field_tag :email, nil, :placeholder=> "Email"
            .field
              = text_area_tag :content
            .field.submit
              = submit_tag "Enviar"  
