.middle
  .contact-title
    Contacto
  .contact
    .left
      = @contact_page.contact_address
    .right
      = form_tag send_email_path do
        %table
          %thead
            %tr
              %td
                = text_field_tag "Nombre", nil, :placeholder=> "Nombre"
            %tr
              %td
                = text_field_tag "Email", nil, :placeholder=> "Email"
            %tr
              %td
                = text_field_tag "Asunto", nil, :placeholder=> "Asunto"
            %tr
              %td
                = text_area_tag "Contenido"
      = submit_tag "Enviar"  
  .map  
    = image_tag "http://maps.google.com/maps/api/staticmap?center=#{@contact_page.contact_address}&zoom=14&size=256x256&maptype=roadmap&markers=color:red%7Ccolor:red%7Clabel:C%7C#{@contact_page.latitude.to_s},#{@contact_page.longitude}&sensor=false"