.middle
  .professional-title
    Profesionales
  .professional-text
    = raw @page.text
  .professionals
    - @professionals.each do |professional|
      .one-professional
        - if professional.photo.file?
          .left
            = image_tag professional.photo.url(:small)
        - if professional.photo.file?
          .right
            .content
              .name
                = professional.title
              .text
                = raw professional.text
        -else
          .content
            .name
              = professional.title
            .text
              = raw professional.text