!!!
%html
  %head
    %title Caminar
    = stylesheet_link_tag    "application", :media => "all"
    = stylesheet_link_tag    "redactor", :media => "all"
    = stylesheet_link_tag    "site"

    = javascript_include_tag "jquery"
    = javascript_include_tag "s3Slider"
    = javascript_include_tag "application"
    = render "/site/map"

    = csrf_meta_tags
  %body
    .wrapped
      .main-container
        .header
          .top
            .slogan
              %span Slogan
            .call-number
              Llamanos al 1551822
          .menu
            .button.first
              = link_to raw("<span>Home</span>"), index_path("home"), :class => ("selected" if @event == "home") 
            .button
              = link_to raw("<span>¿Quienes somos?</span>"), index_path("about"), :class => ("selected" if @event == "about") 
            .button
              = link_to raw("<span>Profesionales</span>"), index_path("professionals"), :class => ("selected" if @event == "professionals") 
            .button.last
              = link_to raw("<span>Contacto</span>"), index_path("contact"), :class => ("selected" if @event == "contact") 
        = yield
    .footer
      =render partial: "footer"
