!!!
%html
  %head
    %title Caminar
    = stylesheet_link_tag    "application", :media => "all"
    = stylesheet_link_tag    "redactor", :media => "all"
    = javascript_include_tag "redactor"
    = javascript_include_tag "application"

    = csrf_meta_tags
  %body
    .wrapped
      .main-container
        .header
          .top
            .slogan
              %span Slogan
            .call-number
              Llamanos al 1551822
          .menu
            .button.first
              = link_to "Home", index_path("home")
            .button
              = link_to "Quienes somos?", index_path("about")
            .button
              = link_to "Profesionales", index_path("professionals")
            .button.last
              = link_to "Contacto", index_path("contact")
        .middle
          = yield
    .footer
      =render partial: "footer"
