!!!
%html
  %head
    %title Caminar

    
    %meta{:"http-equiv" => "Content-Type", :content => "text/html;charset=utf-8" } 
    %meta{:name => "keywords", :content => @meta_title }
    %meta{:name => "description", :content => @meta_description }

    = stylesheet_link_tag    "application", :media => "all"
    = stylesheet_link_tag    "site"

    = javascript_include_tag "jquery"
    = javascript_include_tag "s3Slider"
    = javascript_include_tag "application"

    = csrf_meta_tags
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-34911047-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  %body{:onload => ("initialize()")}
    .wrapped
      .main-container
        .header
          .top
            .slogan
              %span Caminar
            .call-number
              = @telefono
          .menu
            .button.first
              = link_to raw("<span>Home</span>"), index_path("home"), :class => ("selected" if @event == "home") 
            .button
              = link_to raw("<span>¿Quiénes somos?</span>"), index_path("about"), :class => ("selected" if @event == "about") 
            .button
              = link_to raw("<span>Profesionales</span>"), index_path("professionals"), :class => ("selected" if @event == "professionals") 
            .button
              = link_to raw("<span>Comentarios</span>"), index_path("comments"), :class => ("selected" if @event == "comments") 
            .button.last
              = link_to raw("<span>Contacto</span>"), index_path("contact"), :class => ("selected" if @event == "contact") 
        = yield
